@charset "utf-8";
/* style */

.sidebar-wrapper ul {
    background-color: #2E3F4F;
    list-style: none;
    padding: 0 0 1px 0;
}

.sidebar-wrapper li {
    padding: 1px 0 0 0;
}

.sidebar-wrapper li a {
    background-color: #253646;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.sidebar-wrapper li a i {
    padding: 0 15px;
}

.sidebar-wrapper a:hover {
    background-color: #152D39;
    color: #5F5F5F;
}

.logo {
    height: 60px;
    width: 100%;
    background: white;
}

.logo a {
    width: 100%;
    height: 100%;
    display: block;
    background: url("../images/logo.jpg") no-repeat center;
    background-size: 100% auto;
}

.sidebar-wrapper .logo a:hover {
    background: white;
    width: 100%;
    height: 100%;
    display: block;
    background: url("../images/logo.jpg") no-repeat center;
    background-size: 100% auto;
}

.wrapper.active .logo a {
    width: 100%;
    height: 100%;
    display: block;
    background: url("../images/logo_small.jpg") no-repeat center;
    background-size: 100% auto;
}
