@charset "utf-8";
@import "layout.css";
@import "sidebar.css";
@import "main-menu.css";

.nav-toggle-button {
    position: fixed;
}

.nav-toggle-button a {
    display: block;
}

.nav-toggle-button a i {
    padding: 10px;
    color: red;
    line-height: 40px;
}